<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhd.mapper.ApplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhd.pojo.Apply">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="status" property="status" />
        <result column="amount" property="value" />
        <result column="user_id" property="userId" />
        <result column="description" property="description" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="operator_id" property="operatorId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
      id, type, status, amount, user_id as userId, description, start_time as startTime, end_time as endTime, operator_id as operatorId
    </sql>


</mapper>
