<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhd.mapper.AreaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhd.pojo.Area">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="north_point" property="northPoint" />
        <result column="south_point" property="southPoint" />
        <result column="west_point" property="westPoint" />
        <result column="east_point" property="eastPoint" />
        <result column="type" property="type" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, north_point AS northPoint, south_point AS southPoint, west_point AS westPoint, east_point AS eastPoint, type
    </sql>

    <!--<select id="selectVOs" resultType="com.zhd.vo.AreaVO">-->
        <!--select-->
        <!--<include refid="Base_Column_List" />-->
        <!--from area-->
        <!--<trim prefix="where" prefixOverrides="and">-->
            <!--<if test="name != null">-->
                <!--name = #{name}-->
            <!--</if>-->
            <!--<if test="northPoint != null">-->
                <!--and north_point = #{northPoint}-->
            <!--</if>-->
            <!--<if test="southPoint != null">-->
                <!--and south_point = #{southPoint}-->
            <!--</if>-->
            <!--<if test="westPoint != null">-->
                <!--and west_point = #{westPoint}-->
            <!--</if>-->
            <!--<if test="eastPoint != null">-->
                <!--and east_point = #{eastPoint}-->
            <!--</if>-->
            <!--<if test="type != 0">-->
                <!--and type = #{type}-->
            <!--</if>-->
        <!--</trim>-->
    <!--</select>-->

    <!--<select id="selectVO" resultType="com.zhd.vo.AreaVO">-->
        <!--select-->
        <!--<include refid="Base_Column_List" />-->
        <!--from area-->
        <!--<trim prefix="where" prefixOverrides="and">-->
            <!--<if test="id != null">-->
                <!--id = #{id}-->
            <!--</if>-->
            <!--<if test="name != null">-->
                <!--and name = #{name}-->
            <!--</if>-->
            <!--<if test="northPoint != null">-->
                <!--and north_point = #{northPoint}-->
            <!--</if>-->
            <!--<if test="southPoint != null">-->
                <!--and south_point = #{southPoint}-->
            <!--</if>-->
            <!--<if test="westPoint != null">-->
                <!--and west_point = #{westPoint}-->
            <!--</if>-->
            <!--<if test="eastPoint != null">-->
                <!--and east_point = #{eastPoint}-->
            <!--</if>-->
            <!--<if test="type != 0">-->
                <!--and type = #{type}-->
            <!--</if>-->
        <!--</trim>-->
    <!--</select>-->

</mapper>
