<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhd.mapper.BicycleMapper">
  <resultMap id="BaseResultMap" type="com.zhd.pojo.Bicycle">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="locationX" jdbcType="DECIMAL" property="locationX" />
    <result column="locationY" jdbcType="DECIMAL" property="locationY" />
    <result column="batch" jdbcType="INTEGER" property="batch" />
    <result column="sid" jdbcType="SMALLINT" property="sid" />
    <result column="serviceTime" jdbcType="BIGINT" property="serviceTime" />
    <result column="investmentTime" jdbcType="TIMESTAMP" property="investmentTime" />
    <result column="mileage" jdbcType="INTEGER" property="mileage" />
  </resultMap>
  <sql id="Base_Column_List">
    id, status, type, locationX, locationY, batch, sid, serviceTime, investmentTime, 
    mileage
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bicycles
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from bicycles
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zhd.pojo.Bicycle">
    insert into bicycles (id, status, type, 
      locationX, locationY, batch, 
      sid, serviceTime, investmentTime, 
      mileage)
    values (#{id,jdbcType=BIGINT}, #{status,jdbcType=BIT}, #{type,jdbcType=TINYINT}, 
      #{locationX,jdbcType=DECIMAL}, #{locationY,jdbcType=DECIMAL}, #{batch,jdbcType=INTEGER}, 
      #{sid,jdbcType=SMALLINT}, #{serviceTime,jdbcType=BIGINT}, #{investmentTime,jdbcType=TIMESTAMP}, 
      #{mileage,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zhd.pojo.Bicycle">
    insert into bicycles
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="locationX != null">
        locationX,
      </if>
      <if test="locationY != null">
        locationY,
      </if>
      <if test="batch != null">
        batch,
      </if>
      <if test="sid != null">
        sid,
      </if>
      <if test="serviceTime != null">
        serviceTime,
      </if>
      <if test="investmentTime != null">
        investmentTime,
      </if>
      <if test="mileage != null">
        mileage,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="locationX != null">
        #{locationX,jdbcType=DECIMAL},
      </if>
      <if test="locationY != null">
        #{locationY,jdbcType=DECIMAL},
      </if>
      <if test="batch != null">
        #{batch,jdbcType=INTEGER},
      </if>
      <if test="sid != null">
        #{sid,jdbcType=SMALLINT},
      </if>
      <if test="serviceTime != null">
        #{serviceTime,jdbcType=BIGINT},
      </if>
      <if test="investmentTime != null">
        #{investmentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mileage != null">
        #{mileage,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhd.pojo.Bicycle">
    update bicycles
    <set>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="locationX != null">
        locationX = #{locationX,jdbcType=DECIMAL},
      </if>
      <if test="locationY != null">
        locationY = #{locationY,jdbcType=DECIMAL},
      </if>
      <if test="batch != null">
        batch = #{batch,jdbcType=INTEGER},
      </if>
      <if test="sid != null">
        sid = #{sid,jdbcType=SMALLINT},
      </if>
      <if test="serviceTime != null">
        serviceTime = #{serviceTime,jdbcType=BIGINT},
      </if>
      <if test="investmentTime != null">
        investmentTime = #{investmentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mileage != null">
        mileage = #{mileage,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhd.pojo.Bicycle">
    update bicycles
    set status = #{status,jdbcType=BIT},
      type = #{type,jdbcType=TINYINT},
      locationX = #{locationX,jdbcType=DECIMAL},
      locationY = #{locationY,jdbcType=DECIMAL},
      batch = #{batch,jdbcType=INTEGER},
      sid = #{sid,jdbcType=SMALLINT},
      serviceTime = #{serviceTime,jdbcType=BIGINT},
      investmentTime = #{investmentTime,jdbcType=TIMESTAMP},
      mileage = #{mileage,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>