<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhd.mapper.CouponInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhd.pojo.CouponInfo">
        <id column="id" property="id" />
        <result column="c_d" property="cD" />
        <result column="u_id" property="uId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, c_d AS cD, u_id AS uId
    </sql>

</mapper>
