<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhd.mapper.JourneyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhd.pojo.Journey">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="bicycle_id" property="bicycleId" />
        <result column="start_time" property="startTime" />
        <result column="ride_time" property="rideTime" />
        <result column="distance" property="distance" />
        <result column="amount" property="amount" />
        <result column="end_time" property="endTime" />
        <result column="start_location_x" property="startLocationX" />
        <result column="start_location_y" property="startLocationY" />
        <result column="end_location_x" property="endLocationX" />
        <result column="end_location_y" property="endLocationY" />
        <result column="status" property="status" />
        <result column="path" property="path" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id AS userId, bicycle_id AS bicycleId, start_time AS startTime, ride_time AS rideTime, distance, amount, end_time AS endTime, start_location_x as startLocationX, start_location_y as startLocationY, end_location_x as endLocationX, end_location_y as endLocationY, status, path
    </sql>



</mapper>
