<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhd.mapper.RechargeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhd.pojo.Recharge">
        <id column="id" property="id" />
        <result column="u_id" property="uId" />
        <result column="type" property="type" />
        <result column="recharge_time" property="rechargeTime" />
        <result column="amount" property="amount" />
        <result column="p_id" property="pId" />
        <result column="p_url" property="pUrl" />
        <result column="p_status" property="pStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, u_id AS uId, type, recharge_time AS rechargeTime, amount, p_id AS pId, p_url AS pUrl, p_status AS pStatus
    </sql>

</mapper>
