<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhd.mapper.TaskMapper">
    <resultMap id="BaseResultMap" type="com.zhd.pojo.Task">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="uid" jdbcType="CHAR" property="uid"/>
        <!--<result column="startLocationX" jdbcType="DECIMAL" property="startLocationX"/>-->
        <!--<result column="startLocationY" jdbcType="DECIMAL" property="startLocationY"/>-->
        <!--<result column="endLocationX" jdbcType="DECIMAL" property="endLocationX"/>-->
        <!--<result column="endLocationY" jdbcType="DECIMAL" property="endLocationY"/>-->
        <result column="bid" jdbcType="INTEGER" property="bid"/>
        <result column="status" jdbcType="BIT" property="status"/>
        <result column="startTime" jdbcType="VARCHAR" property="startTime"/>
        <result column="endTime" jdbcType="VARCHAR" property="endTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, type, uid, bid, status, startTime, endTime
  </sql>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tasks
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insertSelective" parameterType="com.zhd.pojo.Task">
        insert into tasks
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="uid != null">
                uid,
            </if>
            <!--<if test="startLocationX != null">-->
                <!--startLocationX,-->
            <!--</if>-->
            <!--<if test="startLocationY != null">-->
                <!--startLocationY,-->
            <!--</if>-->
            <!--<if test="endLocationX != null">-->
                <!--endLocationX,-->
            <!--</if>-->
            <!--<if test="endLocationY != null">-->
                <!--endLocationY,-->
            <!--</if>-->
            <if test="bid != null">
                bid,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="startTime != null">
                startTime,
            </if>
            <if test="endTime != null">
                endTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=TINYINT},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=CHAR},
            </if>
            <!--<if test="startLocationX != null">-->
                <!--#{startLocationX,jdbcType=DECIMAL},-->
            <!--</if>-->
            <!--<if test="startLocationY != null">-->
                <!--#{startLocationY,jdbcType=DECIMAL},-->
            <!--</if>-->
            <!--<if test="endLocationX != null">-->
                <!--#{endLocationX,jdbcType=DECIMAL},-->
            <!--</if>-->
            <!--<if test="endLocationY != null">-->
                <!--#{endLocationY,jdbcType=DECIMAL},-->
            <!--</if>-->
            <if test="bid != null">
                #{bid,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=BIT},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=VARCHAR},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zhd.pojo.Task">
        update tasks
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=TINYINT},
            </if>
            <if test="uid != null">
                uid = #{uid,jdbcType=CHAR},
            </if>
            <!--<if test="startLocationX != null">-->
                <!--startLocationX = #{startLocationX,jdbcType=DECIMAL},-->
            <!--</if>-->
            <!--<if test="startLocationY != null">-->
                <!--startLocationY = #{startLocationY,jdbcType=DECIMAL},-->
            <!--</if>-->
            <!--<if test="endLocationX != null">-->
                <!--endLocationX = #{endLocationX,jdbcType=DECIMAL},-->
            <!--</if>-->
            <!--<if test="endLocationY != null">-->
                <!--endLocationY = #{endLocationY,jdbcType=DECIMAL},-->
            <!--</if>-->
            <if test="bid != null">
                bid = #{bid,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=BIT},
            </if>
            <if test="startTime != null">
                startTime = #{startTime,jdbcType=VARCHAR},
            </if>
            <if test="endTime != null">
                endTime = #{endTime,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tasks
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectCount" resultType="java.lang.Integer">
        select count(*)
        from tasks
        <trim prefix="where" prefixOverrides="and">
            <if test="record.name != null">
                name = ${record.name}
            </if>
            <if test="record.type != null">
                and type = #{record.type}
            </if>
            <if test="record.status != null">
                and status = #{record.status}
            </if>
            <if test="record.uid != null">
                and uid = #{record.uid}
            </if>
            <if test="record.bid != null">
                and bid = #{record.bid}
            </if>
            <!--<if test="record.startLocationX != null">-->
                <!--and startLocationX = #{record.startLocationX}-->
            <!--</if>-->
            <!--<if test="record.startLocationY != null">-->
                <!--and startLocationY = #{record.startLocationY}-->
            <!--</if>-->
            <!--<if test="record.endLocationX != null">-->
                <!--and endLocationX = #{record.endLocationX}-->
            <!--</if>-->
            <!--<if test="record.endLocationY != null">-->
                <!--and endLocationY = #{record.endLocationY}-->
            <!--</if>-->
            <if test="record.startTime != null">
                and startTime = #{record.startTime}
            </if>
            <if test="record.endTime != null">
                and endTime = #{record.endTime}
            </if>
        </trim>
    </select>

    <select id="selectTasks" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tasks
        <trim prefix="where" prefixOverrides="and">
            <if test="record.name != null">
                name = ${record.name}
            </if>
            <if test="record.type != null">
                and type = #{record.type}
            </if>
            <if test="record.status != null">
                and status = #{record.status}
            </if>
            <if test="record.uid != null">
                and uid = #{record.uid}
            </if>
            <if test="record.bid != null">
                and bid = #{record.bid}
            </if>
            <!--<if test="record.startLocationX != null">-->
                <!--and startLocationX = #{record.startLocationX}-->
            <!--</if>-->
            <!--<if test="record.startLocationY != null">-->
                <!--and startLocationY = #{record.startLocationY}-->
            <!--</if>-->
            <!--<if test="record.endLocationX != null">-->
                <!--and endLocationX = #{record.endLocationX}-->
            <!--</if>-->
            <!--<if test="record.endLocationY != null">-->
                <!--and endLocationY = #{record.endLocationY}-->
            <!--</if>-->
            <if test="record.startTime != null">
                and startTime = #{record.startTime}
            </if>
            <if test="record.endTime != null">
                and endTime = #{record.endTime}
            </if>
        </trim>
        order by status asc, startTime desc, endTime desc
        limit ${start},10

    </select>


</mapper>